/* Author : Sonu J */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background-color: rgb(253, 250, 242);
}
.container {
    width: 100%;
    display: flex;
    gap: 5px;
}
.nav {
    width: 10%;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 0 10px;
    background-color: rgb(234, 236, 236);
    border-right: 1px solid rgb(150, 225, 235);
    font-size: 12px;
}
.wiki-image {
    width: 100%;
}
.nav a {
    text-decoration: none;
    margin: 3px;
}
.nav a:hover {
    text-decoration: underline;
}

p {
    color: rgb(118, 116, 119);
}
.links {
    bottom: margin 2px;
}
.loginbar a {
    text-decoration: none;
    padding: 0 7px;
}
.loginbar p {
    display: inline;
}
.loginbar {
    font-size: 12px;
    padding-top: 5px;
    text-align: right;
}

.menubar {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: linear-gradient(white, rgb(224, 236, 240));
    height: 83px;
    border-radius: 3px;
}

.loginbar {
    margin-left: 60%;
}
.loginmenu {
    display: flex;

    justify-content: space-around;
}
.loginmenu a {
    text-decoration: none;
    font-size: 14px;
}
.menulink {
    border-bottom: 1px solid rgb(150, 225, 235);
    border-left: 1px solid rgb(150, 225, 235);
    border-right: 1px solid rgb(150, 225, 235);
    background-image: linear-gradient(white, lightblue);
    padding: 10px;
    border-radius: 15px;
}
.menulink:hover {
    color: white;
    background-image: linear-gradient(black, rgb(161, 150, 150));
    text-decoration: underline;
}
.menulink1 {
    margin-left: 50%;
}
.article {
    width: 100%;
}
.title h1 {
    display: inline;
    font-family: cantara;
    padding: 15px;
    font-weight: lighter;
}
.title h3 {
    display: inline;
}
.emojis {
    margin-left: 70%;
}
.details p {
    color: black;
    padding: 10px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 25px;
}
.content {
    width: 100%;
    display: flex;
}
.details {
    width: 73%;
}
.personaldata {
    text-align: center;
    width: 22%;
    padding: 15px;
    margin: 20px;
    background-color: beige;
    border: 1px solid rgb(97, 97, 102);
    border-radius: 5px;
    align-self: flex-start;
}
figcaption {
    font-size: 12px;
}
figcaption a {
    text-decoration: none;
}
.details a {
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(53, 26, 206);
    font-size: 14px;
}
.details a:hover {
    text-decoration: underline;
}
.characters {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.c1,
.c2 {
    width: 100%;
    display: flex;
    font-size: 12px;
}
.born {
    width: 40%;
    text-align: left;
}
.dob {
    width: 60%;
    text-align: left;
}
.dob a {
    text-decoration: none;
}
.loginlink a:hover {
    text-decoration: underline;
}
.personaldata a:hover {
    text-decoration: underline;
}
footer p {
    color: #000;
    font-size: 12px;
}
footer {
    display: flex;
    flex-direction: row;
}
.gapfiller {
    width: 13%;
    background-color: rgb(234, 236, 236);
    justify-content: stretch;
    margin: 0;
    padding: 0;
}
.footermain {
    padding: 10px;
    background-color: rgb(234, 236, 236);
    border-top: 1px solid rgb(150, 225, 235);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-bottom a {
    text-decoration: none;
    font-size: 12px;
}
.footer-links {
    display: flex;
    gap: 10px;
}
